*{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.download {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--btn-font-size, 1em);
  color: var(--color-contrast-medium);
  padding: var(--space-xs) var(--space-md);
  cursor: pointer;
  transition: color .2s;
  
}
.download:hover {
    color: var(--color-contrast-high);
}
/* button  */
.attachment {
    content: " ";
    position: absolute;
    display: inline-flex;
  }
  
  
  .attachment-color {
    left: 64%;
    top: 36%;
  }

  .attachment-BG {
    left: 34%;
    top: 36%;
  }
  
  .attachment {
    width: 3rem;
    height: 3rem;
    border: 1px solid grey;
    cursor: pointer;
  }
  .attachment:hover .attachment__button-content {
    margin: 5%;
    height: 90%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .attachment__button-content {
    position: relative;
    margin: 10%;
    height: 80%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.15s ease, margin 0.15s ease, height 0.15s ease, width 0.15s ease;
  }
  
  .add-sign-color {
    transition: transform 0.2s ease;
    font-size: 16px;
  }
  
  .add-sign {
    color: lightgrey;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
  }






 /* color piker */
.wrapper svg {
}

.wrap {
    position: absolute;
    display: inline-flex;
    min-height: 50vh;
    max-width: 360px;
    margin: 0 auto;
    left: calc(64% + 6.3rem);
    top: 36%;
    transition: opacity 0.2s ease;
    opacity: 0;
    visibility: hidden;
  
}
.wrap > .half {
    width: 50%;
    padding: 35px 7px;
}

.title {
  font-family: sans-serif;
  line-height: 24px;
  display: block;
  padding: 8px 0;
}

.readout {
  margin-top: 32px;
  line-height: 180%;
}

#values {
 font-family: monospace;
  line-height: 150%;
}
